<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <%= javascript_include_tag "prototype", "effects" %>
  </head>
  <body>
    <center>
      <div id="dotsvg">
        <!-- An SVG graphic will go here when the form is submitted -->
      </div>

      <% form_remote_tag (:update => "dotsvg", :url => {:action => 'update_dotsvg'}, :loading => "new Element.update('dotsvg','<img src=\"/images/spinner.gif\">')", :complete => "new Effect.Highlight('dotsvg');" ) do -%>
      <br />
    </select>
      <h3>Enter State Transitions:</h3>
      <br><h4>from_state -> to_state (transition)</h4>
      <br><input type="checkbox" id="display_source" name="display_source" value="false" />
      <label for="display_source">Display Source</label>  
      <br><%= select ("selected_graph", "id", @graph_types.map {|d| d}) %>
      <br><%= select ("selected_device", "id", @devices.map {|d| d}) %>
      <br><%= select ("selected_module", "id", @modules.map {|m| m}) %>
      <br><%= text_area :graph, @graph, :cols => 80, :rows => 10 %>
      <br />
      
      <%= submit_tag "Update" %>
      <% end -%>

    </center>
    <br />
  </body>
</html>

