<html>
  <head>
    <title> State Generator</title>
    <%= javascript_include_tag "prototype", "effects" %>
  </head>
  <body>
<center>
      <h2>State Generator</h2>

</ul>

      <p style="color: black"><%= flash[:notice] %></p>
      
      <div id="dotsvg">

        <!-- An SVG graphic will go here when the form is submitted -->

      </div>

<% form_remote_tag (:update => "dotsvg", :url => {:action => 'update_dotsvg'}, :loading => "new Element.update('dotsvg','<p> Rendering data - Please Wait... </p>')", :complete => "new Effect.Highlight('dotsvg');" ) do -%>
      <br />

      <h3>Enter State Transitions:</h3>
      <h4>from_state -> to_state (transition)</h4>
      <%= text_area :graph, @graph, :cols => 80, :rows => 10 %>
      <br />
      
      <%= submit_tag "Update" %>
      <% end -%>

    </center>

  </body>
</html>
